@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Rubik", sans-serif;
  color: #333 !important;
}

#main-navbar {
  background-color: rgb(39, 39, 39) !important;
}
#title {
  color: white !important;
}
#main-navbar button {
  border-color: #a90708 !important;
  color: #a90708 !important;
}
#main-navbar button:hover {
  background-color: #a90708 !important;
  color: white !important;
}

main .container .col-12 .card {
  position: relative;
  margin-top: 2rem !important;
  border-color: #a90708 !important;
}
.btn-danger {
  background-color: #a90708!important;
  color: white!important;
}

.card-buttons {
  position: absolute;
  display: flex;
  gap: 1rem;
  bottom: 0;
  right: 0;
  padding: 1.4rem 2.4rem;

  justify-content: center;
  align-items: center;
}

.btn-delete, .btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;

  transition: all 0.4s;
}

.btn-delete ion-icon, .btn-edit ion-icon {
  color: #999!important;
  transition: all 0.4s;
}

.btn-delete:hover ion-icon {
  color: #a90708!important;
}

.btn-edit:hover ion-icon {
  color: #0e76a8!important;
}

#addProductModal .modal-header {
  background-color: rgba(169, 7, 8, 0.85)!important;
}

#new-katana-btn {
  border: none;
  font-weight: bold;
  transition: all 0.4s;
  background-color: rgba(169, 7, 8, 0.85)!important;
  color: #333!important;
}

#new-katana-btn:hover {
  background-color: #333!important;
  color: rgb(169, 7, 8)!important;

}

.modal {
  display: none!important;
}
.modal.show {
  display: block!important;
}

#footer {
  margin-top: 3.2rem;
  margin-left: 2.2rem;
  color: #999!important;
}

#footer span a {
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500;
  color: rgba(169, 7, 8, 0.5)!important;
}

#footer span a:hover {
  color: #a90708!important;
}