body {
  background-color: #343a40;
}
.navbar {
  background-color: #343a40;
}
.navbar-brand,
.navbar-text {
  color: #fff;
}
.form-control {
  background-color: #2c3035;
  color: #fff;
  border: none;
}
.btn-search {
  background-color: #dc3545;
  color: #fff;
  border: none;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-container {
  min-height: 16rem !important;
  max-height: 16rem !important;
  overflow: hidden !important;
}
.card-text {
  opacity: 0 !important;
  background-color: transparent;
}
